label {
    color: #1E1E1E;
    text-align: center;
    font-family: SF Pro;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.input-container {
    margin-bottom: 15px;
}

.sign-in-input {
    color: #1E1E1E;
    font-family: SF Pro;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    display: flex;
    width: 266px;
    height: 32px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;

    border: none;
    outline: none;
    border-bottom: 1px solid;
    
}

.sign-in-btn {
    width: 300px;
    height: 45px;
    flex-shrink: 0;
    border-radius: 25px;
    background: #F5F4F6;
}
/* we need to fix dis so that she moves with the bar + stick to it */
.visibility-btn {
    color: #181724;
    position: absolute;
    left: 250px;
    top: 210px;
    border: none;
    background: none;
    cursor: pointer;
}



