.sign-in-container {
    display: flex;
    min-height: 100vh;
    width: 100vw;
}

.left-container {
    flex: 1;
    background-color:hotpink;
}

.right-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.sign-up-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}
a {
    color: black;
    font-weight: 600;
    text-decoration: underline;
}

a:hover {
    color: hotpink;
}
.forgot-password {
    padding-top: 15px;
}

.sign-up {
    padding-left: 10px;
}


